// Import page-specific CSS files here.
@import "home";
@import "show";

.card-index {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #EBEBEB;
  height: 228px;
  flex-grow: 1;
  width: 757px;
  margin-right: 10px;
}

.card-index img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 4px;
  margin-left: 20px;
}

.card-index-text p {
  color: #484848
}

.card-index-text {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.price-supremo {
  width: 97%;
}

.price {
  text-align: right;
  margin-right: 10px;
}

.card-index .address {
  color: rgb(180, 180, 180);
}

.card-index .city {
  color: rgb(180, 180, 180);
}

.form-index {
  display: flex;
  padding: 50px;
}

.btn-index {
  left: 0 !important;
  margin-top: 0 !important;
}
