.places-to-stay-section-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}


.reviews-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.amenities-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.calendar-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.things-to-know-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.reviews-section {
  margin-top: 20px;
  margin-left: 74px;
  margin-right: 74px;
}

.review {
  margin-left: 8px;
  margin-right: 40px;
  margin-top: 16px;
}

.main-picture {
height: 316px;
//width: 600px;
width: 50vw;
// background-image: url("https://a0.muscache.com/im/pictures/75401046-31c4-48e3-93ba-591e5bd8f903.jpg");
background-position: center;
background-size: cover;

}

.pictures-section {
display: flex;
align-items: center;
align-content: space-between;
margin-left: 74px;
margin-right: 74px;

}

img {
  max-width: 100%;
  max-height: 300px;
}

.small-pictures {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.small-pictures > div {
   flex: 1 1 150px;
}

.photo1 {
  height: 150px;
  width: 300px;
  margin: 8px;

  background-color: red;
}

.photo2 {

 height: 150px;
  width: 300px;
margin: 8px;
  background-color: black;
}


.photo3 {
 height: 150px;
 width: 300px;
margin: 8px;
  background-color: green;
}

.photo4 {
height: 150px;
  width: 300px;
margin: 8px;
  background-color: blue;
}

.show-title {
 margin-left: 74px;
}

.description-and-booking-section {
  margin-top: 24px;
  display: flex;
  align-content: space-between;
  margin-left: 74px;
  margin-right: 74px;
}

.apt-description-section {
  width: 600px;
  margin-left: 20px;
}

.booking-mask-section {
  position: sticky;
  top: 0px;
  width: 30%;
  height: 200px;
}

.btn-flat-show {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-ghost-show {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  position: absolute;
}

.buttons-mask-section {
  color: #4A4A4A;
  padding: 8px 24px;
  border-radius: 4px;
  background: #DC0F62;
  transition: background 0.3s ease;

}

.map-section {
  margin-left: 74px;
  margin-right: 74px;
  display: flex;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  // width: 50vw;
  background-image: url("https://a0.muscache.com/im/pictures/75401046-31c4-48e3-93ba-591e5bd8f903.jpg");
  background-position: center;
  background-size: cover;
}

.calendar-section {
  margin-left: 74px;
  margin-right: 74px;
  display: flex;
  justify-content: space-around;
  height: 360px;
  width: 100%;
}

.things-to-know-section {
  margin-left: 74px;
  margin-right: 74px;
  display: flex;
  justify-content: space-around;
  height: 360px;
  width: 100%;
}

.more-places-to-stay-section {
  margin-left: 74px;
  margin-right: 74px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;

}
