  <div class="card-index-supremo mb-3">
          <% @apartments.each do |apartment| %>
            <%= link_to apartment_path(apartment) do %>
              <div class="card-index">
                <img src="https://images.unsplash.com/photo-1512918728675-ed5a9ecdebfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="...">
                <div class="card-index-text">
                  <p><strong><%= apartment.title %></strong></p>
                  <p class="address"> <%= apartment.address %></p>
                  <br>
                  <br>
                  <p class="price"> <strong> <%= apartment.price %> </strong></p>
                </div>
              </div>
            <% end %>
          <% end %>
  </div>
