

<h1>Add a review</h1>
<%= simple_form_for [@apartment,@review], url: apartment_reviews_path(id: @apartment.id), action: :post do |f| %>
  <%= f.input :rating %>
  <%= f.text_field :content %>
  <%= f.submit "add review", class: "btn btn-primary" %>
<% end %>
