<div class='container d-flex justify-content: flex-start'>
  <div class="card-product">
    <h1><strong><%= @apartment.title %></strong></h1>
  </div>
</div>
<div class='container d-flex justify-content-center'>
  <div class="banner w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  </div>
</div>

<div class='container d-flex justify-content-space-around'>
<div>Description</div>
<div>Info box</div>
</div>
</div>
